@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  /* padding: 90px 20px 0;  /* asi el tope del main esta mas debajo del menu y este no lo tapa */ 
}

header {
  background-color: #0769e9;
  height: 80px;
  position: fixed;  /* para que no se mueva del lugar si se hace scroll */
  width: 100%;
  top: 0; /* tope de la ventana */
  left: 0; 
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;   /* ancho maximo */
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;  /* es el alto del header, asi quedfa centrado verticalmente */
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;    /* saca los puntitos del ul */
}

.nav-menu-item {
  font-size: 0.91em;
  margin: 0 10px;
  line-height: 80px;  /* alto barra */
  text-transform: uppercase;   /* todo en mayusculas */
  width: max-content;   /* no corte el contenido */
 }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 6px;
}

.nav-menu-link:hover {
  background-color: #034574;
  transition: 0.5s;    /* para que el cambio sea mas lindo */
}

.nav-toggle {
  color: white;
  background: none; /* saco lo que viene por default */
  border: none; /* saco lo que viene por default */
  font-size: 2em;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;  /* que no se vea */
}





/* main {
  margin-top: 80px;    asi estoy justo debajo del menu 
  min-height: 100vh;
  background-image: url(/assets/images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  opacity: .7;
} */

/* main:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #52c4df, #ad55c1);
  opacity: 0.2;
} */
/* ---------------------------------------------------- PRINCIPAL --------------------------------------------------------------- */

#contenedor_principal{
  width: 100%;
  background-color: #EAF2FD;
}

.principal{
  max-width: 992px;
  height: 60vh;   /* lo necesito para centrar */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px auto 0 auto;   /* lo centro horizontal en la pantalla , los 80 son del menu */
}

.presentacion h1, .presentacion p {
  margin: 0;
  margin-bottom: 10%;
}

.presentacion{
  width: 55%;
}

.presentacion li img { 
  width: 40%;
  cursor: pointer;
} 

/* para que agrande los iconos, cuando paso el mouse por arriba */
.presentacion li img:hover {
  transform: scale(1.2);
}

.presentacion ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentacion li{
  display: inline;
}

.principal_img{
  width: 30%;
  border-radius: 50%;
}

.presentacion h1{
  font-size: 2em;
  font-weight: 600;
}

.presentacion p{
  font-size: 1.2em;
  line-height: 1.5em;
}

.presentacion a:hover{
  color: #93B5C6;
}

.presentacion a{
  text-decoration: none;
  color: #515E63;
}


/* ---------------------------- SOBRE MI ------------------------------------------ */
#contenedor_sobremi{
  width: 100%;
  background-color: #c4d7fc;
}

.sobremi{
  max-width: 992px;
  margin: 0 auto;   /* lo centro horizontal en la pantalla , los 80 son del menu */
}

.sobremi h2{
  font-size: 2em;
  font-weight: 600;
  padding: 60px;
}

.sobremi p{
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.6em;
  padding: 0 60px 60px 60px;
}

/* ------------------------------------- SKILLS ------------------------------------------------------- */

.contenedor_skills {
  width: 100%;
  background-color: #EAF2FD;
  /* height: 800px;  */
  /* height: 50vh; */
  /* background-color: blueviolet; */
}

 #skills{
  max-width: 992px;
  margin: 0 auto;
  padding-bottom: 60px;
  /* text-align: center; */
  /* background-color: aqua; */
}

#skills h2{
  font-size: 2em;
  font-weight: 600;
  padding: 50px;
}


.skills {
  /* width: 100%; */
  /* margin: 0; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
  /* align-content: center; */
  gap: 10px;
  margin-bottom: 60px;
}

.skills div {
  width: 12%;
  height: 140px;
  border-radius: 10px;
  background-color: #c4d7fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.1);
  gap: 15px;
  /* gap: 10px; */
  /* text-align: center; */

}
.skills div img{
  width: 60px;
  /* position: absolute; */
  /* top: 0px; */
  /* left: 60px; */
}


.skills div p{
  /* position: absolute;  */
  /* top: 107px; */
  /* left: 11px; */
  font-weight: 500;
  margin-top: 10px;
  /* background-color: #2c3e50; */
} 


/* ---------------------------- ESTUDIOS ---------------------------------- */

.contenedor_estudios{
  width: 100%;
  background-color: #c4d7fc;
}

#estudios {
  width: 992px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0;
  display: flex;
}

#estudios h2{
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.contenido {
  display: inline-block;
}

.contenido .estudios_img {
  width: 50%;
  height: 250px;
  background-color: #c9d8ec;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.1);
  margin: 20px 20px;
}

.logo-undav{
  width: 70%;
}
.logo-alura{
  width: 70%;
}
.logo-argprograma{
  width: 90%;
}

.contenido p{
  margin: 5px 0;
}

.carrera .lugar{
  font-weight: 700;
}





































@media (max-width: 768px) {
  /* body {
    padding-top: 60px;
  } */
  
  header {
    height: 60px;
  }
 
  .logo {
    font-size: 1.5em;
    padding: 0 20px;
    line-height: 60px;  /* es el alto del header, asi quedfa centrado verticalmente */
  }
  
  .nav-menu {
    flex-direction: column;
    align-items: center;  /* para centrarlo */
    margin: 0;
    background-color: #2c3e50;
    position: fixed;      /* la posicion dependa de la ventana donde esta */
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;   /* si se pasa ekl tamaño añade un scroll en y */

    left: 100%;   /* 100% corrido a la derecha */
    transition: left 0.3s;
  }
  
  .nav-menu-item {
    line-height: 70px;  /* alto barra */
   }
 
   .nav-menu-link:hover {
    background: none;
    color: #83c5f7;
  }
  
  .nav-toggle {
    display: block;   /* se ve el menu hamburguesa */
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  



  /* ---------------------------------------------------- PRINCIPAL --------------------------------------------------------------- */
  .principal{
    margin-top: 60px;   /* lo centro horizontal en la pantalla */
    flex-direction: column-reverse;
    align-items: center;
    align-content: stretch;
  }

  .presentacion h1, .presentacion p , .presentacion ul, .principal_img{
    margin: 0;
    margin-bottom: 5%;
  }

  .presentacion{
    width: 90%;
  }

  .presentacion li img { 
    width: 35%;
    cursor: pointer;
  } 

  .principal_img{
    margin: auto;
    width: 25%;
  }

  /* ------------------------ SOBRE MI NO TOCO NADA ---------------------------------*/ 

  /* ------------------------------------- SKILLS ------------------------------------------------------- */

  .skills {
    margin: 0 30px;
  }
  .skills div {
    width: 30%;
  }





}


















